<diV class="flex items-center max-w-screen-xl">
    <h1 class="text-4xl text-white font-neuropolitical my-20 w-2/5">03. About Me</h1>
    <hr class="border-white border-2 border-solid w-4/5">
</diV>

<div class="flex flex-wrap gap-4">

    <div class="w-3/5 flex flex-col border-[#222222] border-2 border-solid rounded-xl px-6">
        <div class="flex mb-4 gap-2 pt-4">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/2699_fe0f/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/2699_fe0f/512.gif" alt="⚙" width="32"
                    height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">At work</h2>
        </div>
        <div class="text-white text-lg flex flex-col items-center gap-4 font-aleo px-1 w-4/5">
            <p>
                With <span>three years of experience</span>, I approach projects with a <span>clear vision</span> and a
                <span>well-defined plan</span>. I am <span>diligent</span> and <span>meticulous</span>, ensuring every
                detail is <span>carefully considered</span>. My <span>collaborative projects</span> experience has made
                me a strong <span>team player</span> and <span>independent</span> worker, eager for new
                <span>challenges</span> and <span>ideas</span>.
            </p>
            <p>
                I enjoy <span>visual design projects</span> and strive to <span>improve my skills</span>. I am drawn to
                <span>user experience</span> and <span>interface design</span> as they are key to a <span>successful
                    product</span>. I also value <span>data visualization</span> and <span>analysis</span> for clearly
                and <span>engagingly</span> communicating complex information.
            </p>
        </div>
        <div class="mt-10 border-1 border-solid border-white rounded-2xl mb-4">
            <div class="bg-[#1E1E1E] flex gap-2 rounded-tl-2xl rounded-tr-2xl">
                <div class="flex gap-2 mt-1 p-3">
                    <span class="rounded-full bg-[#FF605C] w-4 h-4"></span>
                    <span class="rounded-full bg-[#FFBD44] w-4 h-4"></span>
                    <span class="rounded-full bg-[#00CA4E] w-4 h-4"></span>
                </div>
                <div class="bg-[#0F0F0F] flex items-center justify-center mt-2 ml-2 p-1">
                    <svg width="24" height="24" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M31.885 16c-8.124 0-7.617 3.523-7.617 3.523l.01 3.65h7.752v1.095H21.197S16 23.678 16 31.876c0 8.196 4.537 7.906 4.537 7.906h2.708v-3.804s-.146-4.537 4.465-4.537h7.688s4.32.07 4.32-4.175v-7.019S40.374 16 31.885 16zm-4.275 2.454c.771 0 1.395.624 1.395 1.395s-.624 1.395-1.395 1.395a1.393 1.393 0 0 1-1.395-1.395c0-.771.624-1.395 1.395-1.395z"
                            fill="url(#a)" />
                        <path
                            d="M32.115 47.833c8.124 0 7.617-3.523 7.617-3.523l-.01-3.65H31.97v-1.095h10.832S48 40.155 48 31.958c0-8.197-4.537-7.906-4.537-7.906h-2.708v3.803s.146 4.537-4.465 4.537h-7.688s-4.32-.07-4.32 4.175v7.019s-.656 4.247 7.833 4.247zm4.275-2.454a1.393 1.393 0 0 1-1.395-1.395c0-.77.624-1.394 1.395-1.394s1.395.623 1.395 1.394c0 .772-.624 1.395-1.395 1.395z"
                            fill="url(#b)" />
                        <defs>
                            <linearGradient id="a" x1="19.075" y1="18.782" x2="34.898" y2="34.658"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#387EB8" />
                                <stop offset="1" stop-color="#366994" />
                            </linearGradient>
                            <linearGradient id="b" x1="28.809" y1="28.882" x2="45.803" y2="45.163"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFE052" />
                                <stop offset="1" stop-color="#FFC331" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <span class="text-white p-1">work.py</span>
                </div>
            </div>
            <div class="bg-[#0F0F0F] font-proggy text-white rounded-bl-2xl rounded-br-2xl p-8">
                <div class="pt-6 flex flex-col mb-2">
                    <span>focus = [<span class="text-[#7FFFD4]">"scalability", "quality",
                            "maintanability"</span>]</span>
                    <span>strenghts = [<span class="text-[#7FFFD4]">"adaptability", "flexibility",
                            "efectiveness"</span>]</span>
                    <span>values = [<span class="text-[#7FFFD4]">"creativity", "curiosity", "passion"</span>]</span>
                </div>
                <div class="flex flex-col">
                    <span>my_method = <span class="text-[#7FFFD4]">focus * strenghts + values</span></span>
                    <span>print(do(job * my_method))</span>
                </div>
            </div>
        </div>
    </div>


    <div class="w-1/3 border-2 border-solid border-[#222222] rounded-xl px-6 flex flex-col">
        <div class="flex items-center gap-2 py-4">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa_1f3fd/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa_1f3fd/512.gif" alt="💪" width="32"
                    height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">My personal life</h2>
        </div>
        <div class="text-white text-lg flex flex-col items-center gap-4 font-aleo px-1 mb-4">
            <p>
                I define myself with three key traits: <span>curiosity, creativity, and passion</span>.
                I thrive on solving problems and exploring new ideas, always eager to analyze challenges from different
                perspectives.
            </p>
            <p>
                Visual design has always been a natural passion of mine, and I love bringing ideas to life through new
                technologies.
                My inquisitive nature drives me to ask questions and find innovative solutions to problems.
            </p>
        </div>

        <div class="flex mb-10">
            <div class="personal-icon w-1/3 flex flex-col items-center justify-center -rotate-12">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-barbell carlos-icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M2 12h1" />
                    <path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2" />
                    <path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" />
                    <path d="M9 12h6" />
                    <path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" />
                    <path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2" />
                    <path d="M22 12h-1" />
                </svg>
                <div class="flex items-center gap-2 bg-[#1e1e1e] p-2 rounded-3xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-heart heart-icon">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
                    </svg>
                    <span class="text-white font-aleo">Gym</span>
                </div>
            </div>

            <div class="personal-icon w-1/3 flex flex-col items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-pizza carlos-icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 21.5c-3.04 0 -5.952 -.714 -8.5 -1.983l8.5 -16.517l8.5 16.517a19.09 19.09 0 0 1 -8.5 1.983z" />
                    <path d="M5.38 15.866a14.94 14.94 0 0 0 6.815 1.634a14.944 14.944 0 0 0 6.502 -1.479" />
                    <path d="M13 11.01v-.01" />
                    <path d="M11 14v-.01" />
                </svg>
                <div class="flex items-center gap-2 bg-[#1e1e1e] p-2 rounded-3xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-heart heart-icon">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
                    </svg>
                    <span class="text-white font-aleo">Pizza</span>
                </div>
            </div>

            <div class="personal-icon w-1/3 flex flex-col items-center justify-center rotate-12">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-soccer-field carlos-icon">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M3 9h3v6h-3z" />
                    <path d="M18 9h3v6h-3z" />
                    <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
                    <path d="M12 5l0 14" />
                </svg>
                <div class="flex items-center gap-2 bg-[#1e1e1e] p-2 rounded-3xl">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="icon icon-tabler icons-tabler-filled icon-tabler-heart heart-icon">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
                    </svg>
                    <span class="text-white font-aleo">Soccer</span>
                </div>
            </div>

        </div>
    </div>

    <div
        class="w-1/3 flex flex-col text-3xl font-aleo text-white border-2 border-solid border-[#222222] rounded-xl px-6">
        <div class="flex items-center mt-4">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f30e/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f30e/512.gif" alt="🌎" width="32" height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">Location</h2>
        </div>
        <div class=" flex flex-col items-center gap-2 mt-5">
            <h2>Based in <span class="text-[#dc2626] mb-2">Ephraim, UT</span></h2>
            <div class="text-xl mb-4" id="inSameTimezone"></div>
        </div>
        <hr class="mx-auto border-white border-2 border-solid w-4/5">
        <div class="flex flex-col items-center gap-2 mb-8 mt-8">
            <div id="time-ctn"></div>
            <div id="date-ctn"></div>
        </div>
    </div>

    <script>

        function displayCurrentTime(timezone) {

            var isInSameTimezone = "";

            const userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

            if (userTimezone === timezone) {

                isInSameTimezone = "We are in the same timezone!";
            }
            else {
                isInSameTimezone = "We are not in the same timezone!";
            }

            const timezoneElement = document.getElementById("inSameTimezone");
            timezoneElement.innerHTML = isInSameTimezone;

            const currentTime = new Date();

            const options = {
                timeZone: timezone,
                hour12: false,
                hour: "2-digit",
                minute: "2-digit",
            }

            const formattedTime = currentTime.toLocaleString("en-US", options);

            const timeElement = document.getElementById("time-ctn");
            timeElement.innerHTML = `
            <span class="text-[#dc2626] text-4xl font-bold">${formattedTime}</span> <span class="text-xl">${timezone}</span>
            `;

            const date = new Date();

            const formattedDate = date.toLocaleDateString("en-US", {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric"
            });

            const dateElement = document.getElementById("date-ctn");
            dateElement.innerHTML =
                `<span class="text-xl">${formattedDate}</span>`;

        }

        displayCurrentTime("America/Denver");

        setInterval(() => displayCurrentTime("America/Denver"), 60000);
    </script>

    <div class="w-3/5 font-aleo text-white border-2 border-solid border-[#222222] rounded-xl px-6">
        <div class="flex items-center my-6">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f393/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f393/512.gif" alt="🎓" width="32" height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">Education</h2>
        </div>
        <div class="mt-3">
            <div class="text-2xl">
                <a href="https://www.snow.edu/academics/science_math/engineering/se/?gad_source=1&gclid=Cj0KCQjwlIG2BhC4ARIsADBgpVTC04wN8NIrP_IRlZMI02UM7bkYzCxiS2dNcN31IwdtZHEBw7mQA9UaAvWPEALw_wcB"
                    class=" no-underline flex items-center gap-2 text-[#dc2626] group bachelor">
                    <h1 class="group-hover:text-[#dc2626]">Bachelor's Degree in Software Engineering</h1>
                    <svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                            d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"
                            class="group-hover:fill-[#dc2626]">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="flex items-center gap-2 mt-2 text-lg">
                <span>Ephraim, Utah </span> |
                <span> Fall 2023 - Present</span>
            </div>
        </div>
        <div class="mt-5 text-lg">
            <p>
                Currently in my <span class="text-[#dc2626]">senior year of college</span> at <a
                    href="https://www.snow.edu/" class="text-[#dc2626] underline hover:text-[#dc2626]">Snow College</a>, I am pursuing a
                Bachelor's
                Degree in Software Engineering with
                an emphasis in <span class="text-[#dc2626]">Web Development and Data Science</span>. During these years
                I have developed a strong understanding of
                <span class="text-[#dc2626]">programming languages, algorithms, and data structures</span>. I have also
                gained experience in
                <span class="text-[#dc2626]">web development, database management, and software testing</span>.
            </p>
        </div>
    </div>
</div>

<style>
    p span {
        color: #dc2626;
    }

    .carlos-icon {
        width: 70%;
        height: auto;
        stroke: #dc2626;
        stroke-width: 1;
    }

    .heart-icon {
        width: 24px;
        height: 24px;
        color: #dc2626
    }

    .personal-icon:nth-of-type(2) {
        position: relative;
        top: 10em;
    }

    .bachelor {
        color: white;
    }

    .bachelor svg {
        fill: white;
    }

</style>