<diV class="flex items-center max-w-screen-xl">
    <h1 class="text-4xl text-white font-neuropolitical my-20 w-2/5">03. About Me</h1>
    <hr class="border-white border-2 border-solid w-4/5">
</diV>

<div class="flex items-center justify-center">

    <div class="flex flex-col w-3/5 border-[#222222] border-2 border-solid rounded-xl px-6">
        <div class="flex mb-4 gap-2 pt-4">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/2699_fe0f/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/2699_fe0f/512.gif" alt="⚙" width="32"
                    height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">At work</h2>
        </div>
        <div class="text-white text-lg flex flex-col items-center gap-5 font-aleo px-1 w-4/5">
            <p>
                With <span>three years of experience</span>, I approach projects with a <span>clear vision</span> and a
                <span>well-defined plan</span>. I am <span>diligent</span> and <span>meticulous</span>, ensuring every
                detail is <span>carefully considered</span>. My <span>collaborative projects</span> experience has made
                me a strong <span>team player</span> and <span>independent</span> worker, eager for new
                <span>challenges</span> and <span>ideas</span>.
            </p>
            <p>
                I enjoy <span>visual design projects</span> and strive to <span>improve my skills</span>. I am drawn to
                <span>user experience</span> and <span>interface design</span> as they are key to a <span>successful
                    product</span>. I also value <span>data visualization</span> and <span>analysis</span> for clearly
                and <span>engagingly</span> communicating complex information.
            </p>
        </div>
        <div class="mt-10 border-1 border-solid border-white rounded-2xl mb-4">
            <div class="bg-[#1E1E1E] flex gap-2 rounded-tl-2xl rounded-tr-2xl">
                <div class="flex gap-2 mt-1 p-3">
                    <span class="rounded-full bg-[#FF605C] w-4 h-4"></span>
                    <span class="rounded-full bg-[#FFBD44] w-4 h-4"></span>
                    <span class="rounded-full bg-[#00CA4E] w-4 h-4"></span>
                </div>
                <div class="bg-[#0F0F0F] flex items-center justify-center mt-2 ml-2 p-1">
                    <svg width="24" height="24" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M31.885 16c-8.124 0-7.617 3.523-7.617 3.523l.01 3.65h7.752v1.095H21.197S16 23.678 16 31.876c0 8.196 4.537 7.906 4.537 7.906h2.708v-3.804s-.146-4.537 4.465-4.537h7.688s4.32.07 4.32-4.175v-7.019S40.374 16 31.885 16zm-4.275 2.454c.771 0 1.395.624 1.395 1.395s-.624 1.395-1.395 1.395a1.393 1.393 0 0 1-1.395-1.395c0-.771.624-1.395 1.395-1.395z"
                            fill="url(#a)" />
                        <path
                            d="M32.115 47.833c8.124 0 7.617-3.523 7.617-3.523l-.01-3.65H31.97v-1.095h10.832S48 40.155 48 31.958c0-8.197-4.537-7.906-4.537-7.906h-2.708v3.803s.146 4.537-4.465 4.537h-7.688s-4.32-.07-4.32 4.175v7.019s-.656 4.247 7.833 4.247zm4.275-2.454a1.393 1.393 0 0 1-1.395-1.395c0-.77.624-1.394 1.395-1.394s1.395.623 1.395 1.394c0 .772-.624 1.395-1.395 1.395z"
                            fill="url(#b)" />
                        <defs>
                            <linearGradient id="a" x1="19.075" y1="18.782" x2="34.898" y2="34.658"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#387EB8" />
                                <stop offset="1" stop-color="#366994" />
                            </linearGradient>
                            <linearGradient id="b" x1="28.809" y1="28.882" x2="45.803" y2="45.163"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FFE052" />
                                <stop offset="1" stop-color="#FFC331" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <span class="text-white p-1">work.py</span>
                </div>
            </div>
            <div class="bg-[#0F0F0F] font-proggy text-white rounded-bl-2xl rounded-br-2xl p-8">
                <div class="pt-6 flex flex-col mb-2">
                    <span>focus = [<span class="text-[#7FFFD4]">"scalability", "quality",
                            "maintanability"</span>]</span>
                    <span>strenghts = [<span class="text-[#7FFFD4]">"adaptability", "flexibility",
                            "efectiveness"</span>]</span>
                    <span>values = [<span class="text-[#7FFFD4]">"creativity", "curiosity", "passion"</span>]</span>
                </div>
                <div class="flex flex-col">
                    <span>my_method = <span class="text-[#7FFFD4]">focus * strenghts + values</span></span>
                    <span>print(do(job * my_method))</span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex items-center">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa_1f3fd/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4aa_1f3fd/512.gif" alt="💪" width="32"
                    height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">My personal life</h2>
        </div>
    </div>
    <div>
        <div class="flex items-center">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f30e/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f30e/512.gif" alt="🌎" width="32" height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">Location</h2>
        </div>
    </div>
    <div>
        <div class="flex items-center">
            <picture>
                <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f393/512.webp" type="image/webp">
                <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f393/512.gif" alt="🎓" width="32" height="32">
            </picture>
            <h2 class="text-2xl text-white font-neuropolitical">Education</h2>
        </div>
    </div>
</div>

<style>
    p span {
        color: #dc2626;
    }
</style>