@using System.ComponentModel.DataAnnotations;
@using System.Net.Mail;
@using System.Net;
@using Microsoft.AspNetCore.Components.Forms;

<div class="flex items-center max-w-screen-xl">
    <h1 class="text-4xl text-white font-neuropolitical my-20 w-2/5">04. Contact Me</h1>
    <hr class="border-white border-2 border-solid w-4/5">
</div>

<div class="mb-10 font-aleo">
    <div class="flex flex-col gap-y-2 text-xl text-white w-screen items-center justify-center">
        <p class="text-3xl mb-5">
            Contact me at <span class="text-[#dc2626]">any moment</span>
        </p>
        <p>
            If you have any questions, comments or want to talk to me about a new project, feel free to reach out to me
            at:
        </p>
        <div class="flex gap-x-2 mt-8 items-center text-3xl">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" viewBox="0 0 24 24" fill="none"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-mail">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                <path d="M3 7l9 6l9 -6" />
            </svg>
            <span class="text-[#dc2626]">blancocastrocarlosfelipe@gmail.com</span>
        </div>
    </div>
</div>

