<diV class="flex items-center max-w-screen-xl">
    <h1 class="text-4xl text-white font-neuropolitical my-20 w-2/5">02. Some of my Favorite Projects</h1>
    <hr class="border-white border-2 border-solid w-4/5">
</diV>

<div id="projects-ctn" class="flex items-center justify-center flex-col gap-20">

</div>

<script type="application/json" id="myProjects">
    [
    {
        "project-name": "S&P500 ML WebApp",  
        "project-github": "https://github.com/CarlosBlanco1/SP500Project",
        "project-link": "https://sp500.carlosblancodev.com/",
        "project-subtitle": "A web page made to show my ML model for predicting the SP500",
        "project-description": "This web app uses data from public *Yahoo Finance APIs* to train a *Random Forest Classifier* (~57% accuracy) built in *Python* to predict whether the *S&P 500 closing price* will rise or fall based on daily, weekly, and monthly trends, leveraging *scikit-learn, pandas, NumPy, and yfinance* for modeling and data processing; the backend was developed with *FastAPI*, the frontend with *React*, a *Redis cache* was implemented to efficiently serve daily predictions, and the entire system was deployed on a *self-configured home lab* using *Kubernetes* with a fully automated *CI/CD pipeline.*",
        "project-symbols": ["Python", "React", "ML", "Docker", "Finance", "Server"],
        "project-vid": "vid/sp500.mp4"
    },
    {
        "project-name": "Sanpete Pantry Site",  
        "project-github": "https://github.com/CarlosBlanco1/SanpetePantrySite",
        "project-link": "https://beta.sanpetepantry.org/",
        "project-subtitle": "A website for the Sanpete Pantry",
        "project-description": "This project was built using *HTML, CSS, and JavaScript*. It was designed to showcase the Sanpete Pantry's schedule, mission and events. The project also included a contact and volunteer form for customers to share their experiences with the pantry. It *increased the Pantry's income considerably*, and it was a great way to *connect with customers and volunteers.*",
        "project-symbols": ["Blazor", "C#", "Git", "HTML", "CSS", "Javascript"],
        "project-vid": "vid/spvid.mp4"
    },
    {
        "project-name": "Bengamin games site",  
        "project-github": "https://github.com/BengaminGamesPracticum/BengamingWebsite",
        "project-link": "https://bengamingames.com/",
        "project-subtitle": "A website for local board game store, Bengamin Games",
        "project-description": "4-person collaborative full-stack *e-commerce web application* for a local business made with *React and Python*. Square API integration for *real-time website content updates*, including 100+ products and events. *Google OAuth for user authentication* and *payment processing through Square*. FastAPI for optimized API requests, reducing content update time by 20%. *Led and coordinated Scrum team meetings*. And wrote *20+ unit tests using Pytest* to verify business logic",
        "project-symbols": ["Python", "React", "Typescript", "Auth", "CSS" ],
        "project-vid": "vid/bgvideo.mp4"
    }
    ]
</script>

<script>
    async function getProjects() {
        const jsonData = document.getElementById('myProjects').textContent;
        const projects = JSON.parse(jsonData);

        const jsonIcons = document.getElementById('iconsData').textContent;
        const icons = JSON.parse(jsonIcons);

        const projectsCtn = document.getElementById('projects-ctn');

        projects.forEach(project => {
            const projectCtn = document.createElement('div');
            projectCtn.classList.add('flex', 'max-lg:flex-col', 'gap-4', 'items-center', 'justify-center', 'border-2', 'border-solid', 'border-gray-400', 'md:p-8', 'rounded-2xl', 'md:w-4/5', 'max-md:py-2', 'max-md:w-full');

            const textCtn = document.createElement('div');
            textCtn.classList.add('flex', 'flex-col', 'font-aleo', 'text-white', 'w-1/2', 'max-lg:w-[80%]');

            textCtn.innerHTML = `
        <div class="flex gap-x-2 items-center github-link-icon max-sm:flex-col">
            <h1 class="text-3xl my-2 font-bold hover:text-red-600">${project['project-name']} | </h1>

            <div class="flex gap-4">
                <a href="${project['project-github']}" class="text-[var(--display-red)] no-underline">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                        d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg>
                </a>
                <a href="${project['project-link']}" class="text-[var(--display-red)] no-underline">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
                </a>
            </div>
        </div>

        <h2 class="text-xl mt-2 mb-4">${project['project-subtitle']}</h2>

        <p class="my-8 max-sm:text-xs max-sm:my-2">${project['project-description'].replace(/\*(.*?)\*/g, '<span class="text-[var(--display-red)]">$1</span>')}</p>

        <div class="flex gap-x-2 max-lg:hidden">
            ${project['project-symbols'].map(symbol => {
                return `<span class="border-2 border-solid border-[var(--display-red)] rounded-full flex gap-x-2 items-center justify-center p-2 project-icon">${icons[symbol]} <span class="text-xs text-white font-aleo">${symbol}</span></span>`;
            }).join('')}
        </div>
        `;

            const videoCtn = document.createElement('div');
            videoCtn.classList.add('flex', 'justify-center', 'items-center', 'w-1/2', 'max-lg:w-[80%]');

            const video = document.createElement('video');
            video.classList.add('max-w-screen-s', 'h-auto');
            video.src = project['project-vid'];
            video.controls = true;

            videoCtn.appendChild(video);

            projectCtn.appendChild(textCtn);
            projectCtn.appendChild(videoCtn);

            projectsCtn.appendChild(projectCtn);
        });
    }


    getProjects();
</script>

<style>
    a svg {
        width: 2rem;
        height: 2rem;
        stroke: darkred;
    }

    a svg:hover {
        stroke: red;
        stroke-width: 2;
    }

    span svg {
        width: 1rem;
        height: 1rem;
    }

    .project-icon svg {
        width: 1rem;
        height: 1rem;
        stroke: var(--display-red);
    }

    .github-link-icon svg {
        width: 2rem;
        height: 2rem;
        stroke: var(--display-red);
    }
</style>