@inject IJSRuntime JSRuntime

<diV class="flex items-center max-w-screen-xl">
    <h1 class="text-4xl text-white font-neuropolitical my-20 w-3/5">01. Where I've worked</h1>
    <hr class="border-white border-2 border-solid w-4/5">
</diV>

<div class="flex flex-row justify-center">
    <div class="z-0 bg-red-700 ml-40 pt-10" id="progress-bar"></div>
    <div id="experiences-ctn"></div>
</div>

<style>
    #progress-bar {
        width: 2vw;
    }
</style>

<script type="application/json" id="myJsonData">
    [
    {
        "company": "Snow College Engineering",
        "position": "Teaching Assistant / Grader",
        "place": "Ephraim, UT",
        "startDate": "2023-26-01",
        "endDate": "current",
        "quote": "‘Teaching is the highest form of understanding.’ –Aristotle",
        "description": "Assisted in more than *nine courses*, including Advanced Front-End Design, Introduction to Web Development, Object-Oriented Programming, and UX Design. *Evaluated projects and assignments*, while actively engaging in labs to address student questions. This experience sharpened my ability to *analyze diverse coding styles*, deepening my understanding of different approaches to code. This experience also helped me improve my *communication skills and work more effectively with others.*",
        "symbols": ["Communication", "Teaching", "Javascript", "C#"]
    },
    {
        "company": "Snow College Engineering",
        "position": "Teaching Assistant / Grader",
        "place": "Ephraim, UT",
        "startDate": "2023-26-01",
        "endDate": "current",
        "quote": "‘Teaching is the highest form of understanding.’ –Aristotle",
        "description": "Assisted in more than *nine courses*, including Advanced Front-End Design, Introduction to Web Development, Object-Oriented Programming, and UX Design. *Evaluated projects and assignments*, while actively engaging in labs to address student questions. This experience sharpened my ability to *analyze diverse coding styles*, deepening my understanding of different approaches to code. This experience also helped me improve my *communication skills and work more effectively with others.*",
        "symbols": ["Communication", "Teaching", "Javascript", "C#"]
    },
    {
        "company": "Snow College Engineering",
        "position": "Teaching Assistant / Grader",
        "place": "Ephraim, UT",
        "startDate": "2023-26-01",
        "endDate": "current",
        "quote": "‘Teaching is the highest form of understanding.’ –Aristotle",
        "description": "Assisted in more than *nine courses*, including Advanced Front-End Design, Introduction to Web Development, Object-Oriented Programming, and UX Design. *Evaluated projects and assignments*, while actively engaging in labs to address student questions. This experience sharpened my ability to *analyze diverse coding styles*, deepening my understanding of different approaches to code. This experience also helped me improve my *communication skills and work more effectively with others.*",
        "symbols": ["Communication", "Teaching", "Javascript", "C#"]
    }
]
</script>

<script type="application/json" id="iconsData">

    {
    "Javascript": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"icon icon-tabler icons-tabler-outline icon-tabler-brand-javascript\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z\" /><path d=\"M7.5 8h3v8l-2 -1\" /><path d=\"M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5\" /></svg>",
    "C#": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" viewBox=\"0 0 256 288\" version=\"1.1\" preserveAspectRatio=\"xMidYMid\"><g><path d=\"M255.569,84.452376 C255.567,79.622376 254.534,75.354376 252.445,71.691376 C250.393,68.089376 247.32,65.070376 243.198,62.683376 C209.173,43.064376 175.115,23.505376 141.101,3.86637605 C131.931,-1.42762395 123.04,-1.23462395 113.938,4.13537605 C100.395,12.122376 32.59,50.969376 12.385,62.672376 C4.064,67.489376 0.015,74.861376 0.013,84.443376 C0,123.898376 0.013,163.352376 0,202.808376 C0,207.532376 0.991,211.717376 2.988,215.325376 C5.041,219.036376 8.157,222.138376 12.374,224.579376 C32.58,236.282376 100.394,275.126376 113.934,283.115376 C123.04,288.488376 131.931,288.680376 141.104,283.384376 C175.119,263.744376 209.179,244.186376 243.209,224.567376 C247.426,222.127376 250.542,219.023376 252.595,215.315376 C254.589,211.707376 255.582,207.522376 255.582,202.797376 C255.582,202.797376 255.582,123.908376 255.569,84.452376\" fill=\"#A179DC\" fill-rule=\"nonzero\"/><path d=\"M128.182,143.241376 L2.988,215.325376 C5.041,219.036376 8.157,222.138376 12.374,224.579376 C32.58,236.282376 100.394,275.126376 113.934,283.115376 C123.04,288.488376 131.931,288.680376 141.104,283.384376 C175.119,263.744376 209.179,244.186376 243.209,224.567376 C247.426,222.127376 250.542,219.023376 252.595,215.315376 L128.182,143.241376\" fill=\"#280068\" fill-rule=\"nonzero\"/><path d=\"M255.569,84.452376 C255.567,79.622376 254.534,75.354376 252.445,71.691376 L128.182,143.241376 L252.595,215.315376 C254.589,211.707376 255.58,207.522376 255.582,202.797376 C255.582,202.797376 255.582,123.908376 255.569,84.452376\" fill=\"#390091\" fill-rule=\"nonzero\"/><path d=\"M201.892326,116.294008 L201.892326,129.767692 L215.36601,129.767692 L215.36601,116.294008 L222.102852,116.294008 L222.102852,129.767692 L235.576537,129.767692 L235.576537,136.504534 L222.102852,136.504534 L222.102852,149.978218 L235.576537,149.978218 L235.576537,156.71506 L222.102852,156.71506 L222.102852,170.188744 L215.36601,170.188744 L215.36601,156.71506 L201.892326,156.71506 L201.892326,170.188744 L195.155484,170.188744 L195.155484,156.71506 L181.6818,156.71506 L181.6818,149.978218 L195.155484,149.978218 L195.155484,136.504534 L181.6818,136.504534 L181.6818,129.767692 L195.155484,129.767692 L195.155484,116.294008 L201.892326,116.294008 Z M215.36601,136.504534 L201.892326,136.504534 L201.892326,149.978218 L215.36601,149.978218 L215.36601,136.504534 Z\" fill=\"#FFFFFF\"/><path d=\"M128.456752,48.625876 C163.600523,48.625876 194.283885,67.7121741 210.718562,96.0819435 L210.558192,95.808876 L169.209615,119.617159 C161.062959,105.823554 146.128136,96.5150717 128.996383,96.3233722 L128.456752,96.3203544 C102.331178,96.3203544 81.1506705,117.499743 81.1506705,143.625316 C81.1506705,152.168931 83.4284453,160.17752 87.3896469,167.094792 C95.543745,181.330045 110.872554,190.931398 128.456752,190.931398 C146.149522,190.931398 161.565636,181.208041 169.67832,166.820563 L169.481192,167.165876 L210.767678,191.083913 C194.51328,219.21347 164.25027,238.240861 129.514977,238.620102 L128.456752,238.625876 C93.2021701,238.625876 62.4315028,219.422052 46.0382398,190.902296 C38.0352471,176.979327 33.4561922,160.837907 33.4561922,143.625316 C33.4561922,91.1592636 75.9884604,48.625876 128.456752,48.625876 Z\" fill=\"#FFFFFF\" fill-rule=\"nonzero\"/></g></svg>",
    "Teaching": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"icon icon-tabler icons-tabler-outline icon-tabler-book\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0\" /><path d=\"M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0\" /><path d=\"M3 6l0 13\" /><path d=\"M12 6l0 13\" /><path d=\"M21 6l0 13\" /></svg>",
    "Communication": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"icon icon-tabler icons-tabler-outline icon-tabler-brand-hipchat\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M17.802 17.292s.077 -.055 .2 -.149c1.843 -1.425 3 -3.49 3 -5.789c0 -4.286 -4.03 -7.764 -9 -7.764c-4.97 0 -9 3.478 -9 7.764c0 4.288 4.03 7.646 9 7.646c.424 0 1.12 -.028 2.088 -.084c1.262 .82 3.104 1.493 4.716 1.493c.499 0 .734 -.41 .414 -.828c-.486 -.596 -1.156 -1.551 -1.416 -2.29z\"/><path d=\"M7.5 13.5c2.5 2.5 6.5 2.5 9 0\"/></svg>",
    "Blazor": "<svg fill=\"none\" height=\"2248\" viewBox=\"-10.12021875 -53.60951036 339.95397529 343.02235093\" width=\"2500\" xmlns=\"http://www.w3.org/2000/svg\"><title>JSON Icon</title><path d=\"m303.935 88.479c-6.598 41.362-27.653 79.041-59.42 106.335s-72.185 42.433-114.064 42.723c-8.483.326-16.977-.19-25.358-1.539a77.723 77.723 0 0 1 -64.63-73.266 75.479 75.479 0 0 1 22.14-52.762 75.46 75.46 0 0 1 105.885-.748 75.478 75.478 0 0 1 22.884 52.443c.317 12.51-5.102 23.483-16.239 23.8-11.899 0-17.477-8.491-17.477-19.934v-31.797a19.478 19.478 0 0 0 -19.323-19.494h-26.653a46.386 46.386 0 0 0 -39.119 20.961 46.399 46.399 0 0 0 31.587 71.268 46.392 46.392 0 0 0 41.8-14.911l.932-1.39.933 1.543a32.82 32.82 0 0 0 27.986 13.328 36.992 36.992 0 0 0 34.268-38.671 100.64 100.64 0 0 0 -2.761-24.577c-4.943-22.734-18.126-42.834-37.008-56.423a94.153 94.153 0 0 0 -125.236 13.718 94.175 94.175 0 0 0 -23.92 63.097 95.352 95.352 0 0 0 27.473 65.824 95.331 95.331 0 0 0 65.448 28.344s6.98.635 14.849.454a200.94 200.94 0 0 0 107.769-32.155c.457-.318.914.317.61.78a158.177 158.177 0 0 1 -123.225 50.396 111.185 111.185 0 0 1 -80.961-32.871 111.215 111.215 0 0 1 -32.215-81.232 115.099 115.099 0 0 1 46.223-92.17 112.704 112.704 0 0 1 66.497-21.953h35.772a100.637 100.637 0 0 0 74.247-32.784 1.39 1.39 0 0 1 .755-.431 1.418 1.418 0 0 1 1.52.663c.153.257.222.555.197.854a100.93 100.93 0 0 1 -15.608 45.14 1.386 1.386 0 0 0 .115 1.511 1.387 1.387 0 0 0 1.424.507 108.158 108.158 0 0 0 75.198-62.013c.173-.277.411-.507.695-.67a1.902 1.902 0 0 1 1.869 0c.284.162.523.392.694.67a137.098 137.098 0 0 1 13.447 87.432zm-189.964 44.858a27.823 27.823 0 0 0 -27.293 33.255 27.83 27.83 0 0 0 21.862 21.865 27.824 27.824 0 0 0 33.251-27.296v-25.977a2.007 2.007 0 0 0 -1.904-1.904z\" fill=\"#702af7\"/></svg>",
    "Git": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"icon icon-tabler icons-tabler-outline icon-tabler-brand-github\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\" /><path d=\"M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5\" /></svg>",
    "HTML": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"icon icon-tabler icons-tabler-outline icon-tabler-brand-html5\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z\"/><path d=\"M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5\"/></svg>",
    "CSS": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"icon icon-tabler icons-tabler-outline icon-tabler-brand-css3\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"/><path d=\"M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z\"/><path d=\"M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5\"/></svg>"
    }

</script>

<script>

    async function getExperiences() {

        const jsonData = document.getElementById('myJsonData').textContent;
        const experiences = JSON.parse(jsonData);

        const jsonIcons = document.getElementById('iconsData').textContent;
        const icons = JSON.parse(jsonIcons);

        const experiencesCtn = document.getElementById('experiences-ctn');

        experiences.forEach(experience => {
            const experienceCtn = document.createElement('div');
            experienceCtn.classList.add('text-white', 'text-xl', 'font-aleo', 'flex', 'flex-col', 'pl-20', 'experienceCtn');
            experience.description = experience.description.replace(/\*(.*?)\*/g, '<span class="text-red-600">$1</span>');

            experienceCtn.innerHTML = `
                <h1 class="text-3xl my-2 font-bold hover:text-red-600">${experience.position} at ${experience.company}</h1>
                <span class="text-lg my-3">${experience.place} | ${experience.startDate} - ${experience.endDate}</span>

                <span class="text-lg my-3 italic">${experience.quote}</span>

                <p class="text-lg my-3">${experience.description}</p>

                <div class="flex gap-x-2">

                ${experience.symbols.map(symbol => {
                return `<span class="border-2 border-solid border-red-600 rounded-full flex gap-x-4 items-center justify-center p-2">${icons[symbol]} <span class="text-xs text-white font-aleo">${symbol}</span></span>`;
            }).join('')}


                </div>

            `;

            experiencesCtn.appendChild(experienceCtn);
        });
    }

    getExperiences();

    window.progressAnimation();

</script>

<style>
    span svg {
        width: 2rem;
        height: 2rem;
        stroke: darkred;
    }

    #experiences-ctn>*:not(:last-child) {
        margin-bottom: 5rem;
    }
</style>
